<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822263436161-q2f98sq2qm4o0bcl5mi38d57foffllue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822263436161-q2f98sq2qm4o0bcl5mi38d57foffllue</string>
	<key>API_KEY</key>
	<string>AIzaSyAOe67sP42aDkgw5IrvMm5V4coQKDj-VLU</string>
	<key>GCM_SENDER_ID</key>
	<string>822263436161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubendv.horoscopos</string>
	<key>PROJECT_ID</key>
	<string>horoscopos-ed5f1</string>
	<key>STORAGE_BUCKET</key>
	<string>horoscopos-ed5f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822263436161:ios:155ec0af5da235fe694e80</string>
</dict>
</plist>